body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    margin: 0;
}

/*header and nav*/
header {
    height: 69px;
    display: flex; /* Position items side-by-side*/
    background-color: black;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    align-items: center; /*center on y-axis(cross axis)*/
    border-bottom: 1px solid seashell;
}

#logo img {
    height: 50px;
    margin-left: 10px;
}

#navbar {
    position: absolute;
    right: 0;
    padding-right: 15px;
}

#navbar li{
    list-style-type:none;
    display: inline;   
}

#navbar li a{
    text-decoration: underline;
    color: seashell;
    padding-inline: 20px;
}

/*Mission section*/
#mission {
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-position: center;
    background-size: cover;
}


#text-over {
    background-color: black;
    width: 1200px;
}

/*Featured tea section*/
#featured {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; /*centered section*/
    margin-top: 50px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

figure {
    margin: 0;
}

figure img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

figure figcaption {
    /*margin-top: 10px;*/
}

/*Locations section*/
#locations {
    max-width: 1200px;
    min-height: 500px;  
    margin: 0 auto; /*centered section*/
    margin-top: 50px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-position: center;
    background-size: cover;
}

#locations-header {
    padding-top: 40px;
    margin-bottom: 15px;
}

#locations .container {
    display: flex;
    /*flex-direction: row;*/
    align-items: center;
}

.box {
    background-color: black;
    width: 300px;
    height: auto;
    margin: 40px;
    /*margin-bottom: 40px;*/
  }

  /*contact info section*/
  #contact {
    margin: 0 auto; /*centered section*/
    margin-top: 50px;
  }

  footer {
    text-align: left;
    margin: 0 auto; /*centered section*/
    margin-top: 50px;
    margin-left: 20px;
  }

